{% extends "blog/base.html" %} {% block content %} {% for post in posts %}
<div class="mb-2 border border-1 p-2 rounded bg-light">
  <div class="d-flex gap-2">
    <div
      class="rounded rounded bg-primary-subtle overflow-hidden"
      style="width: 50px; height: 50px; aspect-ratio: 1/1"
    >
      <img
        src="https://i.stack.imgur.com/l60Hf.png"
        width="100%"
        height="100%"
        alt=""
        style="object-fit: cover"
      />
    </div>
    <div class="d-flex flex-column">
      <small class="text-primary"><b>{{ post.author }}</b></small>
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      <small></small>
      <small class="text-muted">{{ post.date_posted|date:"D F Y" }}</small>
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
