{% extends "blog/base.html" %} {% block content %}
<div class="content-section bg-light-subtle p-3 rounded border">
  <div class="media d-flex align-items-center gap-4">
    <img
      class="rounded-circle border account-img"
      width="200px"
      height="200px"
      src="{{ user.profile.image.url }}"
      alt=""
    />
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
</div>
{% endblock content %}
